<div class="card">
  <div class="card-header">
  Comments for  {{name}}
  </div>
  <div class="card-body">
    <form class="form comment-form">       
      <div class="form-group">
        <label for="blog">Comments:</label>
        <input class="form-input" type="text" id="blog-comments" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" style="width: 100%; text-align:left" type="submit">Add comments</button>
      </div>
       
    </form>
  </div>
</div>

</div>

<script src="./js/comment.js"></script>